{% extends "base.html" %}

{% block title %}🐒{% endblock %}

{% block content %}
<div class="card" style="text-align: center;">
    <label class="card-label" style="display: block; margin-bottom: 20px;">Oops!</label>
    <h1 class="title-404" style="font-size: 100px; margin: 0;">:-(</h1>
    <p class="message-404" style="font-size: 40px; margin: 20px 0;">404 - The race track is not here...</p>
    <p style="font-size: 20px; display: inline; margin-right: 10px;">Country roads, take me</p>
    <a href="{{ url_for('setup') }}" class="button" style="font-size: 20px; text-decoration: none;">Home</a>
    <p style="font-size: 20px; display: inline; margin-left: 10px;">...</p>
</div>
{% endblock %}
