{% extends "base.html" %}

{% block title %}Credits - NASCAR Manager '24{% endblock %}

{% block content %}
<div class="card" style="text-align: center;">
    <label class="card-label">About</label>

    <p>NASCAR Manager '24 is a command-based game where players take control of a NASCAR team,</p>
    <p>manage drivers, pit crews, and race strategy to win the championship.</p>

    <h2>Project Details</h2>
    <ul style="list-style-type: none; padding: 0;">
        <li>CSCI 4830 Introduction to Software Engineering</li>
        <li>Group 1</li>
        <li>Andrew Carlson</li>
        <li>Grant Peters</li>
        <li>Michael Sutton DePennes</li>
        <li>An Vu</li>
    </ul>

    <button id="gitlab-button" class="button primary-button">Link to Project</button>
    <button id="reset-button" class="button secondary-button">Home 🏡</button>
</div>
{% endblock %}
