{% extends "base.html" %}

{% block title %}Result - NASCAR Manager '24{% endblock %}

{% block content %}
<body>
    <div class="card">
        <label class="card-label">Finished!</label>
        
        <h3 id="winner">Winner: TBD</h3>

        <br><p>Here are the standings:</p><br>

        <div class="container" style="display: flex; gap: 20px;">
            <table class="standings-table" id="end-standings">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Car #</th>
                        <th>Driver</th>
                        <th>To Leader</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody id="end-standings-table-body">
                    <!-- Rows will be generated here by JavaScript -->
                </tbody>
            </table>
        </div>
        
        <br>
        <div>
            <button id="reset-button-2" class="button secondary-button">New Game?</button>
        </div>
    </div>
</body>
{% endblock %}

{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Initialize elements
        const tableBody = document.getElementById("end-standings-table-body");
        // Initialize car standings
        const carData = Array.from({ length: 16 }, (_, i) => ({
            position: i + 1,
            carNumber: '--',
            driver: '--',
            toLeader: '--',
            totalTime: '--',
            }));

        carData.forEach(car => {
            const row = document.createElement("tr");
            row.innerHTML = `
                <td>${car.position}</td>
                <td id="car-${car.position}-num">${car.carNumber}</td>
                <td id="car-${car.position}-driver">${car.driver}</td>
                <td id="car-${car.position}-to-leader">${car.toLeader}</td>
                <td id="car-${car.position}-time-total">${car.totalTime}</td>
            `;
            tableBody.appendChild(row);
        });
    })

    async function resetRace() {
        try {
            await fetch('/api/race/reset', { method: 'POST' });
            window.location.href = "/";
        } catch (error) {
            console.error('Error resetting race:', error);
        }
    }
    document.getElementById('reset-button-2').addEventListener('click', resetRace);

    async function getRaceData() {
        try {
            const response = await fetch('/api/race');
            const data = await response.json();

            updateRaceStandings(data)
            winnerName(data)

            } catch (error) {
            console.error('Error fetching race data:', error);
        }
    }

    function updateRaceStandings(data) {
        data.cars.forEach((car, index) => {
            if (car) {
                document.getElementById(`car-${index + 1}-num`).textContent = car.number;
                document.getElementById(`car-${index + 1}-driver`).textContent = car.name;
                document.getElementById(`car-${index + 1}-to-leader`).textContent = car.to_leader.toFixed(2);
                document.getElementById(`car-${index + 1}-time-total`).textContent = car.total_race_time.toFixed(2);
            }
        });
    }

    async function winnerName(data) {
        data.cars.forEach((car, index) => {
            if (car.to_leader == 0 && ![2, 3].includes(car.number)) {
                document.getElementById(`winner`).textContent = `Winner: ${car.name}, better luck next time!`;
            } else if (car.to_leader == 0 && [2, 3].includes(car.number)) {
                document.getElementById(`winner`).textContent = `Winner: ${car.name}, good job!`;
            }
        });
    }

    getRaceData();

</script>

{% endblock %}
