{% extends "base.html" %}

{% block title %}Player Setup - NASCAR Manager '24{% endblock %}

{% block content %}
<body id="setup-page">
    <div class="column-container">
        <!-- Player Setup Container -->
        <div class="row-container">
            <!-- Player 1 Setup card -->
            <div class="card">
                <label class="card-label">Player 1</label>
                
                <!-- Profile Picture -->
                <div class="profile-picture" id="player1-picture" style="cursor: pointer;"></div>
                
                <!-- Name Inputs -->
                <div class="floating-label">
                    <input type="text" id="player1-name" name="player1_name" class="input-field" placeholder=" ">
                    <label for="player1-name">Name</label>

                <!-- Car # Inputs
                <div class="floating-label">
                    <input type="number" id="car1-number" name="car1_number" class="input-field" placeholder=" ">
                    <label for="car1-number">Car #</label>
                </div> -->
                </div>
            </div>

            <!-- Player 2 Setup card -->
            <div class="card">
                <label class="card-label">Player 2</label>
                
                <!-- Profile Picture -->
                <div class="profile-picture" id="player2-picture" style="cursor: pointer;"></div>
                
                <!-- Name Inputs -->
                <div class="floating-label">
                    <input type="text" id="player2-name" name="player2_name" class="input-field" placeholder=" ">
                    <label for="player2-name">Name</label>

                <!-- Car # Inputs 
                <div class="floating-label">
                    <input type="number" id="car2-number" name="car2_number" class="input-field" placeholder=" ">
                    <label for="car2-number">Car #</label>
                </div> -->
                </div>
            </div>
        </div>

        <p style="font-size: 14px; color: #fcfcfc; margin: 3px;">*Hint: You can change the profile pictures by clicking on it <3</p>
    
        <!-- Start Race Button -->
        <div>
            <button id="start-button" onclick="startRace()" class="button secondary-button">START</button>
        </div>
    </div>
</body>
{% endblock %}
